.cmp-articlelist__cards-container {
    display: flex;
    justify-content: space-evenly;
  }

  .cmp-articlelist__cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    border: 1px solid black;
  }

  .cmp-articlelist__cards-btn {
    padding: 15px 40px;
    background-color: #5e7263;
    color: white;
    text-align: center;
  }

  .cmp-articlelist__cards-btn-container {
    text-align: center;
    margin: 20px 0px;
  }