<div
  id="imageTextTextImage"
  data-sly-use.model="com.adobe.aem.tutorial.core.models.ImageTextTextImage"
  data-json='${model.imageText @ context="unsafe"}'
  data02-json='${model.textImage @ context="unsafe"}'
>
  <p>&nbsp;</p>
  <div id="mainContainer">
    <div id="firstContainer">
      <div class="card imageTextTextImage-card">
        <img src="..." class="card-img-top-firstContainer" alt="..." />
        <div class="card-body-imageTextTextImage">
          <h5 class="card-title-firstContainer fs-2 text-start">Card title</h5>
          <p class="card-text-firstContainer fs-5 text-start">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          <div class="d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn-firstContainer btn btn-primary text-end me-md-2"
            >
              Explore Offers
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="secondContainer">
      <div class="card imageTextTextImage-card">
        <div class="card-body-imageTextTextImage">
          <h5 class="card-title-secondContainer fs-2 text-start">Card title</h5>
          <p class="card-text-secondContainer fs-5 text-start">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          <div class="d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn-secondContainer btn btn-primary text-end me-md-2"
            >
              Explore Offers
            </button>
          </div>
        </div>
        <img src="..." class="card-img-top-secondContainer" alt="..." />
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly
    data-sly-call="${clientlib.css @ categories='aem.tutorials.imageTextTextImage'}"
  ></sly>
  <sly
    data-sly-call="${clientlib.js @ categories='aem.tutorials.imageTextTextImage'}"
  ></sly>
</sly>
