<div>

<sly data-sly-test="${properties.title}">

<h2>Title Property goes here:</h2>

<p>${properties.title}</p>

<h1 class="first-component-text">Title of the page is: ${currentPage.title}</h1>

<p data-sly-text="${currentPage.title}">This text wil be replaced.</p>

<p data-sly-attribute.title=${currentPage.title}>Attributes are set for this element.</p>

</div>

<sly 
		data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
>

<sly data-sly-call="${clientlib.css @ categories='aem.tutorials'}"

>

